<%- include('../partials/metadata')  %> 
<%- include('../partials/header')  %> 

    
    <main>
        <form action="/products/edit/<%=update.id%>?_method=PUT" method="POST" id="form-div" enctype="multipart/form-data"> <!-- NO VA /GUARDAR la ruta ? --> 
            
            <section class="form-register" id="product-div">
                <div class="logo1">
                    <a href="/">
                        <img src="\images\completo-XLR8-mediano.png">
                    </a>
                </div>
                <h4>EDITAR PRODUCTO</h4>
                <input class="controls" type="text" name="name" id="tituloProducto" value="<%= update.name  %>">
                <textarea id="controls" name="description" rows="10" id="descripcion-area" style="width: 100%" value="<%= update.name %>"></textarea>
                <input class="agregar-foto" type="file" name="img1" accept=".jpg, .png, .jpeg" value="<%= update.img1 %>">
                <input class="agregar-foto" type="file" name="img2" accept=".jpg, .png, .jpeg" value="<%= update.img2%> ">
                <input class="agregar-foto" type="file" name="img3" accept=".jpg, .png, .jpeg" value="<%= update.img2%> ">
                <input class="controls" type="number" name="price" id="price" value="<%= update.price %> " >
                <input class="controls" type="number" name="discount" id="discount-price" value="<%= update.discount%> ">
                <input class="controls" type="number" name="sku" id="sku" value="<%= update.sku %> ">
                <div class="labels-div">
                    <fieldset class="fieldset">
                        <label for="talle">TALLE</label>
                <select id="talle" name="size">
                    <option value="small">SMALL</option>
                    <option value="medium">MEDIUM</option>
                    <option value="large">LARGE</option>
                    <option value="xl">XL</option>
                </select>
                <label for="color">COLOR</label>
                <select id="color" name="color">
                    <option value="negro">NEGRO</option>
                    <option value="gris">GRIS</option>
                    <option value="blanco">BLANCO</option>
                    <option value="color">COLOR</option>
                </select>
                    </fieldset>
                </div>
                <fieldset>
                    <div class="genre-0">
                        <!-- REVISAR CSS -->
                        <p class="p-style">CATEGORIAS</p>
                        <div class="div-style">
                            <label>HOMBRE<input type='radio' name='genero' value="hombre"> </label>
                            </br>
                            <label>MUJER<input type='radio' name='genero' value="mujer"> </label>
                            </br>
                            <label>UNISEX<input type='radio' name='genero' value="unisex"> </label>
                            </br>
                        </div>
                        
                    </div>
                </fieldset>
                <fieldset>
                    <div class="categories">
                        <p class="p-style-1"> TIPO DE PRENDA </p>
                        <div class="genre">
                            <label>REMERAS<input type='radio' name='categories' value="remeras"> </label>
                            </br>
                            <label>PANTALONES<input type='radio' name='categories' value="pantalones"> </label>
                            </br>
                            <label>SHORTS<input type='radio' name='categories' value="short"> </label>
                            </br>
                            <label>CALZAS<input type='radio' name='categories' value="calzas"> </label>
                            </br>
                            <label>CAMPERAS<input type='radio' name='categories' value="camperas"> </label>
                            </br>
                            </div>
                    </div>
                </fieldset>
                <fieldset>
                    <div class="categories" >
                        <p class="p-style-2"> NUEVO PRODUCTO </p>
                        <div class="genre-1">
                            <label>SI<input type='radio' name='new' value="true"> </label>
                            </br>
                            <label>NO<input type='radio' name='new' value="false"> </label>
                            </br>
                            </div>
                    </div>
                </fieldset>
                </br>
                <button class="botons" type="submit"> EDITAR PRODUCTO</button>
                <button class="botons" type="submit"> ELIMINAR PRODUCTO </button>
                 
          </section>
          </form>
    </main>

    <%- include('../partials/footer')  %>   