<%- include('../partials/metadata') %>
    <%- include('../partials/header') %>
    <main>
        <div class="padre-contenedor">
            <div class="container">
                <div class="div-foto">
                    <div class="div-contenedor">
                        <% if (getDetailProduct.photo1.includes('https')) { %>
                            <img class="img-grande" src="<%= getDetailProduct.photo1%>" alt="">
                        <% } else {%>
                            <img class="img-grande" src="/images/products/<%= getDetailProduct.photo1%>" alt="">
                         <% } %>
                    </div>
                    <div class="div-contenedor-img-principal">
                        <% if (getDetailProduct.photo1.includes('https')) { %>
                            <img class="img-chica " src="<%= getDetailProduct.photo1%>" alt="">
                            <!-- <img class="img-chica " src="<%= getDetailProduct.photo1%>" alt="">-->
                        <% } else {%>
                            <img class="img-chica " src="/images/products/<%= getDetailProduct.photo1%>" alt="">
                            <!-- <img class="img-chica " src="/images/products/<%= getDetailProduct.photo1%>" alt="">-->
                         <% } %>
                    </div>
                </div>
            </div>
            <div class="container-1">
                <div class="div-detalle">
                    <div class="detalle-titulo">
                        <h1>
                            <%= getDetailProduct.title %>
                        </h1>
                    </div>
                    <div class="price">
                        <% if (getDetailProduct.price_discount==0) { %>
                            <p class="precio-producto">
                                $<%= toThousand(getDetailProduct.price) %>
                            </p>
                            <% } else { %>
                                <p class="precio-producto">$<%= toThousand(getDetailProduct.price-(getDetailProduct.price *
                                        getDetailProduct.price_discount /100))%> &nbsp
                                        <FONT SIZE=5 style="color:#009900" ;>
                                            <%= getDetailProduct.price_discount %>% Off
                                        </font>
                                </p>
                                <% } %>

                    </div>
                    <div class="cuotas">
                        <p class="price"> 3 cuotas sin interés de
                            <% if (getDetailProduct.price_discount==0) { %>
                                $<%= toThousand(getDetailProduct.price/3) %>
                                    <% } else { %>
                                        $<%= toThousand((getDetailProduct.price-(getDetailProduct.price * getDetailProduct.price_discount
                                            /100))/3) %>
                                            <% } %>
                        </p>
                    </div>
                    <div class="medios-pagos">
                        <a class="a-pagos" href="#">ver medios de pagos</a>
                    </div>
                    <div class="form-color" action="">
                        <label class="label-color " for="color">Color:</label>
                        <input type="color" id="color" name="color">
                    </div>
                    <div class="talles">
                        <p class="talle">Talles:<%= getDetailProduct.size %>
                        </p>
                    </div>
                    <div class="cantidad">
                        <label for="cantidad">Cantidad: </label>
                        <input class="input" type="number" id="cantidad" name="cantidad">
                    </div>
                    <input type="submit" class="boton-agregar-carrito"> 
                    
                    <div class="button-send">
                        <a href="/products/edit/<%= getDetailProduct.id%>" id="input-editar">
                            <button type="submit" class="button-div">
                                Editar producto</button></a>

                        <form action="/products/delete/<%= getDetailProduct.id %>?_method=DELETE" method="POST">
                            <button type="submit" class="button-div">ELIMINAR PRODUCTO</button>
                        </form>
                        <div class="agregar-carrito">
                            <a href="/products/carrito/<%= getDetailProduct.id %> ">
                                <button type="submit" class="button-div">Agregar al carrito</button>
                            </a>
                        </div>
                    </div>
                    
                </div>

            </div>
        </div>
    </main>  
        <%- include('../partials/footer') %>