<%- include('../partials/metadata') %>
    <%- include('../partials/header') %>
    <main>
        <div class="padre-contenedor">
            <div class="container">
                <div class="div-foto">
                    <div class="div-contenedor">
                        <% if (getDetailProduct.photo1.includes('https')) { %>
                            <img class="img-grande" src="<%= getDetailProduct.photo1%>" alt="">
                        <% } else {%>
                            <img class="img-grande" src="/images/products/<%= getDetailProduct.photo1%>" alt="">
                         <% } %>
                    </div>
                    <div class="div-contenedor-img-principal">
                        <% if (getDetailProduct.photo1.includes('https')) { %>
                            <img class="img-chica " src="<%= getDetailProduct.photo1%>" alt="">
                            
                        <% } else {%>
                            <img class="img-chica " src="/images/products/<%= getDetailProduct.photo1%>" alt="">
                            
                         <% } %>
                    </div>
                </div>
            </div>
            <div class="container-1">
                <div class="div-detalle">
                    <div class="detalle-titulo">
                        <h1>
                            <%= getDetailProduct.title %>
                        </h1>
                        <br>
                        <h4> <b> Descripción del producto </b> </h4>
                        <p id="description" name="description"><%= getDetailProduct.description %></p>
                        <br>
                    </div>
                    <div class="price">
                        <% if (getDetailProduct.price_discount==0) { %>
                            <p class="precio-producto">
                                $<%= toThousand(getDetailProduct.price) %>
                            </p>
                            <% } else { %>
                                <p class="precio-producto">$<%= toThousand(getDetailProduct.price-(getDetailProduct.price *
                                        getDetailProduct.price_discount /100))%> &nbsp
                                        <FONT SIZE=5 style="color:#009900" ;>
                                            <%= getDetailProduct.price_discount %>% Off
                                        </font>
                                </p>
                                <% } %>

                    </div>
                    <div class="cuotas">
                        <p class="price"> 3 Cuotas Sin Interés de
                            <% if (getDetailProduct.price_discount==0) { %>
                                $<%= toThousand(getDetailProduct.price/3) %>
                                    <% } else { %>
                                        $<%= toThousand((getDetailProduct.price-(getDetailProduct.price * getDetailProduct.price_discount
                                            /100))/3) %>
                                            <% } %>
                        </p>
                    </div>
                    
                    <div class="form-color" action="">
                        <label class="label-color " for="color"> COLOR :  <%= getDetailProduct.color %> </label>
                        <input type="color" id="color" name="color">
                    </div>
                    <div class="talles">
                        <p class="talle"> TALLE : <%= getDetailProduct.size %>
                        </p>
                    </div>
                    <div class="cantidad">
                        <label for="cantidad"> CANTIDAD :    </label>
                        <input class="input" type="number" id="cantidad" name="cantidad">
                    </div>

                    <br>
                    <div class="medios-pagos">
                        <a class="a-pagos" href="https://www.mercadopago.com.ar/home"> MEDIOS DE PAGO </a>
                    </div>
                    <br>
                    
                    <div class="button-send">
    
                            <div class="agregar-carrito">
                                <a href="/products/cart ">
                                     AGREGAR AL CARRITO
                                </a>
                            </div>
                            
                            <br>
                            <br>

                            <div>
                                <% if (locals.isLogged && userToLog.id_users_categories == 2) { %>
                                    <div class="button-send">
                                        <a href="/products/edit/<%= getDetailProduct.id%>" id="input-editar">
                                            <button type="submit" class="botons"> EDITAR PRODUCTO</button></a>
                
                                        <form action="/products/delete/<%= getDetailProduct.id %>?_method=DELETE" method="POST">
                                            <button type="submit" class="botons">ELIMINAR PRODUCTO</button>
                                        </form>                                    
                                    </div>                                

                                <% } else { %>

                                    <% } %>

                            </div>

                            
                        </div> 
                                            
                </div>
            </div>
            <br>
    <br>
    <br>
    <br>
    <br>
        </div>
    </main> 

    

    <%- include('../partials/footer') %>