<%- include('../partials/metadata')  %> 
<%- include('../partials/header')  %> 

    
    <main>          
                
        <h1 class="lista-usuarios-titulo"> Perfil de Usuario de  <%= userToLog.name  %>  <%= userToLog.last_name  %></h1>
        <section class="form-register">

            <ul>
                <li>
                    <h4> Nombre:    <%= userToLog.name  %> </h4>
                    <h4> Apellido:  <%= userToLog.last_name  %> </h4>
                    <h4> E-Mail:    <%= userToLog.email  %> </h4>
                    <h4> Celular:   <%= userToLog.phone  %> </h4>
                    <h4> Fecha de Nacimiento:   <%= userToLog.birthday  %> </h4>
                    <h4> Genero:    <%= userToLog.genre  %> </h4> 
    
                </li>
            </ul>
                    
        </section>
        
        <div class="form-register" id="product-div">
            <% if (userToLog.id_users_categories == 2) { %>
                <div>                    
                    <div>                        
                        <form action="/users/edit/<%= userToLog.id %>" method="GET">   
                            <input type="submit" value="EDITAR USUARIO">
                        </form>   

                        <form action="/users/delete/<%= userToLog.id %>?_method=DELETE" method="POST">   
                            <input type="submit" value="BORRAR USUARIO">
                        </form>

                        <form action="/users/logout" method="GET">   
                            <input type="submit" value="LOGOUT">
                        </form>
                                                            
                    </div> 
                    <fieldset>
                        <h3> MENU DE ADMINISTRADOR </h3>

                        <form action="../products/create" method="GET">   
                            <input type="submit" value="CREAR PRODUCTO">
                        </form>

                        <form action="../products" method="GET">   
                            <input type="submit" value="LISTA PRODUCTOS">
                        </form>

                        <form action="./" method="GET">   
                            <input type="submit" value="LISTA DE USUARIOS">
                        </form>
                        
                    </fieldset> 
                </div>
            <% } else { %> 
                <div>                    
                    <div>                        
                        <form action="/users/edit/<%= userToLog.id %>" method="GET">   
                            <input type="submit" value="EDITAR USUARIO">
                        </form>   

                        <form action="/users/delete/<%= userToLog.id %>?_method=DELETE" method="POST">   
                            <input type="submit" value="BORRAR USUARIO">
                        </form>

                        <form action="/users/logout" method="GET">   
                            <input type="submit" value="LOGOUT">
                        </form>                                   
                    </div> 
                </div>
    
            <% } %>

        </div>

    </main>

<%- include('../partials/footer')  %>  