<%- include('../partials/metadata')  %> 
<%- include('../partials/header')  %> 

    
    <main>  
        <div>
            <h1 class="lista-usuarios-titulo"> Perfil de Usuario de <%= locals.name  %> <%= locals.last_name  %></h1>
            <div>
                <form id="register-form">
                    <section class="form-register">
                    <ul>
                        <li>
                            <h4> Nombre: <%= locals.name  %> </h4>
                            <h4> Apellido: <%= locals.last_name  %> </h4>
                            <h4> E-Mail: <%= locals.email  %> </h4>
                            <h4> Celular: <%= locals.phone  %> </h4>
                            <h4> Fecha de Nacimiento: <%= locals.birthday  %> </h4>
                            <h4> Genero: <%= locals.genre  %> </h4> 
            
                        </li>                                   
                    </ul>
                    <div>                    
                        <div>                        
                            <form action="/users/edit/<%= locals.id %>" method="GET">   
                                <input type="submit" value="EDITAR USUARIO">
                            </form>                                                
                            <form action="/users/delete/<%= locals.id %>?_method=DELETE" method="POST">   
                                <input type="submit" value="BORRAR USUARIO">
                            </form>
                        </div>  
                        <button class="botons" type="submit">
                            <a href="/users/logout">
                                 LOGOUT
                            </a>
                </button>                   
                    </div>
                </form>
            </section> 
                <form id="register-form">
                    <section class="form-register">
                <button class="botons" type="submit">
                            <a href="/products/create">
                                 CREAR PRODUCTO
                            </a>
                </button>
                    </br>
                    <button class="botons" type="submit">
                            <a href="/products/edit/1">
                                 EDITAR PRODUCTOS
                            </a>
                    </button>      
                    </br>
                    <button class="botons" type="submit">
                            <a href="/users">
                                 LISTA DE USUARIOS
                            </a>
                    </button>
                </form>
            </section>
            
    </main>

<%- include('../partials/footer')  %>  