<%- include('../partials/metadata') %>
    <%- include('../partials/header') %>
        <main>
            <h1 class="lista-usuarios-titulo"> LISTA DE USUARIOS </h1>
            <ul>
                <% getUserList.forEach( getUserList=> { %>                
                    <li>
                        <a href="<%= getUserList.id %>">
                            <%= getUserList.name %>
                        </a>

                        <a href="/users/edit/<%= getUserList.id %> "><button class="botons" type="submit"> EDITAR </button></a>
                        <!-- BOTON FORMULARIO PUT PARA EDITAR EL USUARIO -->

                        <form action="/users/delete/<%= getUserList.id %>?_method=DELETE" method="POST">
                            <button class="botons" type="submit"> BORRAR </button>
                        </form>
                        <!-- BOTON FORMULARIO DELETE PARA BORRAR EL USUARIO -->

                    </li>
                    <% }) %>

            </ul>          

        </main>

        <%- include('../partials/footer') %>